In [1]:
import pandas as pd

df = pd.DataFrame({'year': [2013, 2010, 2013, 2011, 2012, 2012, 2010, 2011],

                   'issuer': ['A', 'B', 'B', 'B', 'A', 'B', 'A', 'A'],

                   'emissions': ['325', 301, 201, 111, 901, '212', 255, None]

                   })

In [2]:
df

   year issuer emissions
0  2013      A       325
1  2010      B       301
2  2013      B       201
3  2011      B       111
4  2012      A       901
5  2012      B       212
6  2010      A       255
7  2011      A      None

In [22]:
df['emissions'] = pd.to_numeric(df['emissions'])

In [23]:
group = df.groupby(['issuer'])

In [38]:
idx = group['emissions'].idxmax()

In [39]:
idx

issuer
A    4
B    1
Name: emissions, dtype: int64

In [47]:
df.loc[idx]

   year issuer  emissions
4  2012      A      901.0
1  2010      B      301.0